body {
    margin: 20px;
  }
            
  nav {
    background-color: #fffcfc;
    height: 50px;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  li {
    margin: 0 10px;
    height: 100%;
    position: relative;
  }

  li.logo {
    height: 30px;
    width: auto; /* Maintain the aspect ratio */
    padding: 10px;
    display: flex;
    align-items: center;
  }

  li:hover > ul {
    display: block; 
  }

  ul ul {
    display: none; /* Hide the dropdown menu by default */
    position: absolute; /* Position the dropdown menu absolutely */
    top: 100%; /* Position the dropdown menu below the main menu item */
    left: 0;
    z-index: 1; /* Set a higher z-index to ensure the dropdown menu is displayed on top */
    background-color: #fffdfd;
    min-width: 100%; /* Set a minimum width for the dropdown menu */
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  a:hover {
    color: #ff6600;
    transform: translate(120px, 50%);
  }
  
  